<div class="container">
  <h2 class="mb-4">Crear Link de Pago</h2>

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="mb-3">
      <label for="name" class="form-label">Nombres y apellidos:</label>
      <input type="text" class="form-control uppercase-input" id="name" formControlName="name" required (input)="toUpperCase($event)">
      <div *ngIf="paymentForm.get('name')?.invalid && paymentForm.get('name')?.touched" class="text-danger">
        El nombre es obligatorio y debe contener solo letras.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" required (input)="toUpperCase($event)">
      <div *ngIf="paymentForm.get('email')?.invalid && paymentForm.get('email')?.touched" class="text-danger">
        Se requiere un correo electrónico válido.
      </div>
    </div>

    <div class="mb-3">
      <label for="type_document" class="form-label">Tipo de documento:</label>
      <select class="form-select" id="type_document" formControlName="type_document" required>
        <option value="">Seleccione...</option>
        <option *ngFor="let document of documentsTypes" [value]="document.value">{{ document.name }}</option>
      </select>
      <div *ngIf="paymentForm.get('type_document')?.invalid && paymentForm.get('type_document')?.touched"
        class="text-danger">
        El tipo de documento es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="number_document" class="form-label">Número de Documento:</label>
      <input type="text" class="form-control" id="number_document" formControlName="number_document" required (input)="toUpperCase($event)">
      <div *ngIf="paymentForm.get('number_document')?.invalid && paymentForm.get('number_document')?.touched"
        class="text-danger">
        Porfavor verifique los valores ingresados.
      </div>
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">Monto:</label>
      <input type="number" class="form-control" id="amount" formControlName="amount" required>
      <div *ngIf="paymentForm.get('amount')?.invalid && paymentForm.get('amount')?.touched" class="text-danger">
        El monto es obligatorio de valor númerico y debe ser mayor que 0.
      </div>
    </div>

    <div class="mb-3">
      <label for="currency" class="form-label">Moneda:</label>
      <select class="form-select" id="currency" formControlName="currency" required>
        <option value="">Seleccione...</option>
        <option *ngFor="let currency of currenciesTypes" [value]="currency.value">{{ currency.name }}</option>
      </select>
      <div *ngIf="paymentForm.get('currency')?.invalid && paymentForm.get('currency')?.touched" class="text-danger">
        La moneda es obligatoria.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="paymentForm.invalid">Crear Link de Pago</button>
  </form>

  <div *ngIf="paymentUrl" class="mt-4 alert alert-success">
    <p>Link de pago generado: <a [href]="paymentUrl" target="_blank">{{paymentUrl}}</a></p>
  </div>
</div>